---
![Pandas Introduction](img/pandas.jpg)

---
## **Pandas Dataframe**

In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dell\anaconda3\lib\site-packages (0.25.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (1.17.4)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2.7.3)
Requirement already satisfied: pytz>=2017.2 in c:\users\dell\anaconda3\lib\site-packages (from pandas) (2018.4)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.11.0)

In [2]:
# Import required libraries
import numpy as np
import pandas as pd
import os

In [3]:
# Get current working directory
os.getcwd()

'C:\\Users\\ISE\\Desktop\\20200209_Batch80_CSE7217c_PandasIntro'

In [4]:
# Change working directory
# os.chdir("C:/Users/ISE/Desktop/20200209_Batch80_CSE7217c_PandasIntro")

## **Reading data**

In [4]:
# Read data from csv files in Pandas dataframe
ipl = pd.read_csv('data/matches2008-2016.csv')
ipl_new = pd.read_csv('data/matches2017.csv')

In [5]:
# Checking type
type(ipl)

pandas.core.frame.DataFrame

## **Checking data dimensions**

In [7]:
print(ipl.shape)
print(ipl_new.shape)

(577, 18)
(59, 18)

In [8]:
ipl

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18/04/08,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19/04/08,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19/04/08,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar
3,2008_4,2008,Mumbai,20/04/08,MI,RCB,MI,bat,normal,0,RCB,0,5,Mark Boucher,"Wankhede Stadium, Mumbai, Maharashtra",1,SJ Davis,DJ Harper
4,2008_5,2008,Kolkata,20/04/08,DC,KKR,DC,bat,normal,0,KKR,0,5,David Hussey,"Eden Garden Stadium, Kolkata, West Bengal",3,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
572,2016_56,2016,Raipur,22/05/16,DD,RCB,RCB,field,normal,0,RCB,0,6,Virat Kohli,Shaheed Veer Narayan Singh International Stadium,27,A Nand Kishore,BNJ Oxenford
573,2016_57,2016,Bangalore,24/05/16,GL,RCB,RCB,field,normal,0,RCB,0,4,AB De Villiers,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,HDPK Dharmasena
574,2016_58,2016,Delhi,25/05/16,SRH,KKR,KKR,field,normal,0,SRH,22,0,Moises Henriques,"Feroz Shah Kotla Stadium, Delhi",2,M Erasmus,C Shamshuddin
575,2016_59,2016,Delhi,27/05/16,GL,SRH,SRH,field,normal,0,SRH,0,4,David Warner,"Feroz Shah Kotla Stadium, Delhi",2,M Erasmus,CK Nandan
576,2016_60,2016,Bangalore,29/05/16,SRH,RCB,SRH,bat,normal,0,SRH,8,0,Ben Cutting,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,HDPK Dharmasena,BNJ Oxenford

In [7]:
ipl.head

<bound method NDFrame.head of     match_id  season           city      date team1_id team2_id toss_winner  \
0     2008_1    2008      Bangalore  18/04/08      KKR      RCB         RCB
1     2008_2    2008     Chandigarh  19/04/08      CSK      KXI         CSK
2     2008_3    2008          Delhi  19/04/08       RR       DD          RR
3     2008_4    2008         Mumbai  20/04/08       MI      RCB          MI
4     2008_5    2008        Kolkata  20/04/08       DC      KKR          DC
5     2008_6    2008         Jaipur  21/04/08      KXI       RR         KXI
6     2008_7    2008      Hyderabad  22/04/08       DC       DD          DC
7     2008_8    2008        Chennai  23/04/08      CSK       MI          MI
8     2008_9    2008      Hyderabad  24/04/08       DC       RR          RR
9    2008_10    2008     Chandigarh  25/04/08      KXI       MI          MI
10   2008_11    2008      Bangalore  26/04/08      RCB       RR          RR
11   2008_12    2008        Chennai  26/04/08      KKR      CSK         KKR
12   2008_13    2008         Mumbai  27/04/08       MI       DC          DC
13   2008_14    2008     Chandigarh  27/04/08       DD      KXI          DD
14   2008_15    2008      Bangalore  28/04/08      CSK      RCB         CSK
15   2008_16    2008        Kolkata  29/04/08      KKR       MI         KKR
16   2008_17    2008          Delhi  30/04/08       DD      RCB         RCB
17   2008_18    2008      Hyderabad  01/05/08       DC      KXI         KXI
18   2008_19    2008         Jaipur  01/05/08       RR      KKR          RR
19   2008_20    2008        Chennai  02/05/08      CSK       DD         CSK
20   2008_21    2008      Hyderabad  25/05/08       DC      RCB          DC
21   2008_22    2008     Chandigarh  03/05/08      KXI      KKR         KXI
22   2008_23    2008         Mumbai  04/05/08       MI       DD          DD
23   2008_24    2008         Jaipur  04/05/08      CSK       RR         CSK
24   2008_25    2008      Bangalore  05/05/08      RCB      KXI         KXI
25   2008_26    2008        Chennai  06/05/08      CSK       DC          DC
26   2008_27    2008         Mumbai  07/05/08       RR       MI          MI
27   2008_28    2008          Delhi  08/05/08       DD      CSK         CSK
28   2008_29    2008        Kolkata  08/05/08      KKR      RCB         KKR
29   2008_30    2008         Jaipur  09/05/08       DC       RR          RR
..       ...     ...            ...       ...      ...      ...         ...
547  2016_31    2016         Rajkot  03/05/16       GL       DD          DD
548  2016_32    2016        Kolkata  04/05/16      KKR      KXI         KXI
549  2016_33    2016          Delhi  05/05/16       DD      RPS         RPS
550  2016_34    2016      Hyderabad  06/05/16       GL      SRH         SRH
551  2016_35    2016      Bangalore  07/05/16      RPS      RCB         RCB
552  2016_36    2016     Chandigarh  07/05/16      KXI       DD          DD
553  2016_37    2016  Visakhapatnam  08/05/16      SRH       MI          MI
554  2016_38    2016        Kolkata  08/05/16      KKR       GL          GL
555  2016_39    2016     Chandigarh  09/05/16      RCB      KXI         KXI
556  2016_40    2016  Visakhapatnam  10/05/16      SRH      RPS         SRH
557  2016_41    2016      Bangalore  11/05/16      RCB       MI          MI
558  2016_42    2016      Hyderabad  12/05/16      SRH       DD          DD
559  2016_43    2016  Visakhapatnam  13/05/16       MI      KXI          MI
560  2016_44    2016      Bangalore  14/05/16      RCB       GL          GL
561  2016_45    2016        Kolkata  14/05/16      RPS      KKR         RPS
562  2016_46    2016     Chandigarh  15/05/16      KXI      SRH         KXI
563  2016_47    2016  Visakhapatnam  15/05/16       MI       DD          DD
564  2016_48    2016        Kolkata  16/05/16      KKR      RCB         RCB
565  2016_49    2016  Visakhapatnam  17/05/16       DD      RPS         RPS
566  2016_50    2016      Bangalore  18/05/16      RCB      KXI         KXI
567  2016_51    2016         Kanpur  19/05/16      KKR       GL          GL
568  2016_52    2016         Raipur  20/05/16      SRH       DD          DD
569  2016_53    2016  Visakhapatnam  21/05/16      KXI      RPS         KXI
570  2016_54    2016         Kanpur  21/05/16       MI       GL          GL
571  2016_55    2016        Kolkata  22/05/16      KKR      SRH         SRH
572  2016_56    2016         Raipur  22/05/16       DD      RCB         RCB
573  2016_57    2016      Bangalore  24/05/16       GL      RCB         RCB
574  2016_58    2016          Delhi  25/05/16      SRH      KKR         KKR
575  2016_59    2016          Delhi  27/05/16       GL      SRH         SRH
576  2016_60    2016      Bangalore  29/05/16      SRH      RCB         SRH

    toss_decision  result  dl_applied winner  win_by_runs  win_by_wickets  \
0           field  normal           0    KKR          140               0
1             bat  normal           0    CSK           33               0
2             bat  normal           0     DD            0               9
3             bat  normal           0    RCB            0               5
4             bat  normal           0    KKR            0               5
5             bat  normal           0     RR            0               6
6             bat  normal           0     DD            0               9
7           field  normal           0    CSK            6               0
8           field  normal           0     RR            0               3
9           field  normal           0    KXI           66               0
10          field  normal           0     RR            0               7
11            bat  normal           0    CSK            0               9
12          field  normal           0     DC            0              10
13            bat  normal           0    KXI            0               4
14            bat  normal           0    CSK           13               0
15            bat  normal           0     MI            0               7
16          field  normal           0     DD           10               0
17          field  normal           0    KXI            0               7
18            bat  normal           0     RR           45               0
19            bat  normal           0     DD            0               8
20            bat  normal           0    RCB            0               5
21            bat  normal           0    KXI            9               0
22          field  normal           0     MI           29               0
23            bat  normal           0     RR            0               8
24          field  normal           0    KXI            0               6
25          field  normal           0     DC            0               7
26          field  normal           0     MI            0               7
27          field  normal           0    CSK            0               4
28            bat  normal           0    KKR            5               0
29          field  normal           0     RR            0               8
..            ...     ...         ...    ...          ...             ...
547         field  normal           0     DD            0               8
548         field  normal           0    KKR            7               0
549         field  normal           0    RPS            0               7
550         field  normal           0    SRH            0               5
551         field  normal           0    RCB            0               7
552         field  normal           0    KXI            9               0
553         field  normal           0    SRH           85               0
554         field  normal           0     GL            0               5
555         field  normal           0    RCB            1               0
556           bat  normal           0    SRH            4               0
557         field  normal           0     MI            0               6
558         field  normal           0     DD            0               7
559           bat  normal           0    KXI            0               7
560         field  normal           0    RCB          144               0
561           bat  normal           1    KKR            0               8
562           bat  normal           0    SRH            0               7
563         field  normal           0     MI           80               0
564         field  normal           0    RCB            0               9
565         field  normal           1    RPS           19               0
566         field  normal           1    RCB           82               0
567         field  normal           0     GL            0               6
568         field  normal           0     DD            0               6
569           bat  normal           0    RPS            0               4
570         field  normal           0     GL            0               6
571         field  normal           0    KKR           22               0
572         field  normal           0    RCB            0               6
573         field  normal           0    RCB            0               4
574         field  normal           0    SRH           22               0
575         field  normal           0    SRH            0               4
576           bat  normal           0    SRH            8               0

          player_of_match                                              venue  \
0        Brendon McCullum         M.Chinnaswamy Stadium Bengaluru, Karnataka
1          Michael Hussey  I.S. Bindra Punjab Cricket Association Stadium...
2        Farveez Maharoof                    Feroz Shah Kotla Stadium, Delhi
3            Mark Boucher              Wankhede Stadium, Mumbai, Maharashtra
4            David Hussey          Eden Garden Stadium, Kolkata, West Bengal
5            Shane Watson         Sawai Man Singh Stadium, Jaipur, Rajasthan
6         Virender Sehwag      Rajiv Gandhi International Stadium, Hyderabad
7          Matthew Hayden        M.A.Chidambaram Stadium Chennai, Tamil Nadu
8            Yusuf Pathan      Rajiv Gandhi International Stadium, Hyderabad
9        Kumar Sangakkara  I.S. Bindra Punjab Cricket Association Stadium...
10           Shane Watson         M.Chinnaswamy Stadium Bengaluru, Karnataka
11             Jacob Oram        M.A.Chidambaram Stadium Chennai, Tamil Nadu
12         Adam Gilchrist                         Dr DY Patil Sports Academy
13           Simon Katich  I.S. Bindra Punjab Cricket Association Stadium...
14   Mahendra Singh Dhoni         M.Chinnaswamy Stadium Bengaluru, Karnataka
15      Sanath Jayasuriya          Eden Garden Stadium, Kolkata, West Bengal
16          Glenn McGrath                    Feroz Shah Kotla Stadium, Delhi
17            Shaun Marsh      Rajiv Gandhi International Stadium, Hyderabad
18       Swapnil Asnodkar         Sawai Man Singh Stadium, Jaipur, Rajasthan
19        Virender Sehwag        M.A.Chidambaram Stadium Chennai, Tamil Nadu
20            Vinay Kumar      Rajiv Gandhi International Stadium, Hyderabad
21           Irfan Pathan  I.S. Bindra Punjab Cricket Association Stadium...
22          Shaun Pollock                         Dr DY Patil Sports Academy
23          Sohail Tanvir         Sawai Man Singh Stadium, Jaipur, Rajasthan
24            S Sreesanth         M.Chinnaswamy Stadium Bengaluru, Karnataka
25         Adam Gilchrist        M.A.Chidambaram Stadium Chennai, Tamil Nadu
26           Ashish Nehra                         Dr DY Patil Sports Academy
27   Mahendra Singh Dhoni                    Feroz Shah Kotla Stadium, Delhi
28         Sourav Ganguly          Eden Garden Stadium, Kolkata, West Bengal
29           Yusuf Pathan         Sawai Man Singh Stadium, Jaipur, Rajasthan
..                    ...                                                ...
547          Rishabh Pant             Saurashtra Cricket Association Stadium
548         Andre Russell          Eden Garden Stadium, Kolkata, West Bengal
549        Ajinkya Rahane                    Feroz Shah Kotla Stadium, Delhi
550               B Kumar      Rajiv Gandhi International Stadium, Hyderabad
551           Virat Kohli         M.Chinnaswamy Stadium Bengaluru, Karnataka
552        Marcus Stoinis  I.S. Bindra Punjab Cricket Association Stadium...
553          Ashish Nehra  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
554         Praveen Kumar          Eden Garden Stadium, Kolkata, West Bengal
555          Shane Watson  I.S. Bindra Punjab Cricket Association Stadium...
556            Adam Zampa  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
557         Krunal Pandya         M.Chinnaswamy Stadium Bengaluru, Karnataka
558          Chris Morris      Rajiv Gandhi International Stadium, Hyderabad
559        Marcus Stoinis  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
560        AB De Villiers         M.Chinnaswamy Stadium Bengaluru, Karnataka
561          Yusuf Pathan          Eden Garden Stadium, Kolkata, West Bengal
562           Hashim Amla  I.S. Bindra Punjab Cricket Association Stadium...
563         Krunal Pandya  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
564           Virat Kohli          Eden Garden Stadium, Kolkata, West Bengal
565           Ashok Dinda  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
566           Virat Kohli         M.Chinnaswamy Stadium Bengaluru, Karnataka
567          Dwayne Smith                                         Green Park
568            Karun Nair   Shaheed Veer Narayan Singh International Stadium
569  Mahendra Singh Dhoni  Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket St...
570          Suresh Raina                                         Green Park
571          Yusuf Pathan          Eden Garden Stadium, Kolkata, West Bengal
572           Virat Kohli   Shaheed Veer Narayan Singh International Stadium
573        AB De Villiers         M.Chinnaswamy Stadium Bengaluru, Karnataka
574      Moises Henriques                    Feroz Shah Kotla Stadium, Delhi
575          David Warner                    Feroz Shah Kotla Stadium, Delhi
576           Ben Cutting         M.Chinnaswamy Stadium Bengaluru, Karnataka

     venue_id                umpire1          umpire2
0           7              Asad Rauf      RE Koertzen
1           9              MR Benson       SL Shastri
2           2              Aleem Dar   GA Pratapkumar
3           1               SJ Davis        DJ Harper
4           3              BF Bowden      K Hariharan
5           6              Aleem Dar        RB Tiffin
6           4              IL Howell        AM Saheba
7           5              DJ Harper   GA Pratapkumar
8           4              Asad Rauf        MR Benson
9           9              Aleem Dar        AM Saheba
10          7              MR Benson        IL Howell
11          5              BF Bowden   AV Jayaprakash
12         10              Asad Rauf       SL Shastri
13          9            RE Koertzen        I Shivram
14          7            BR Doctrove        RB Tiffin
15          3              BF Bowden   AV Jayaprakash
16          2              Aleem Dar        I Shivram
17          4            BR Doctrove        RB Tiffin
18          6            RE Koertzen   GA Pratapkumar
19          5              BF Bowden      K Hariharan
20          4              Asad Rauf      RE Koertzen
21          9              DJ Harper        I Shivram
22         10              IL Howell      RE Koertzen
23          6              Asad Rauf   AV Jayaprakash
24          7               SJ Davis      BR Doctrove
25          5              MR Benson        RB Tiffin
26         10              DJ Harper      RE Koertzen
27          2              Aleem Dar        RB Tiffin
28          3              Asad Rauf        IL Howell
29          6              MR Benson        AM Saheba
..        ...                    ...              ...
547        33            CB Gaffaney     BNJ Oxenford
548         3           AK Chaudhary  HDPK Dharmasena
549         2          C Shamshuddin        RJ Tucker
550         4              M Erasmus           S Ravi
551         7            CB Gaffaney     BNJ Oxenford
552         9        HDPK Dharmasena        CK Nandan
553        25                 S Ravi    C Shamshuddin
554         3              M Erasmus        RJ Tucker
555         9           AK Chaudhary  HDPK Dharmasena
556        25            CB Gaffaney        VK Sharma
557         7            AY Dandekar    C Shamshuddin
558         4             K Bharatan        M Erasmus
559        25        HDPK Dharmasena        CK Nandan
560         7            AY Dandekar        VK Sharma
561         3         A Nand Kishore     BNJ Oxenford
562         9  KN Ananthapadmanabhan        M Erasmus
563        25            Nitin Menon        CK Nandan
564         3            CB Gaffaney   A Nand Kishore
565        25            Nitin Menon    C Shamshuddin
566         7  KN Ananthapadmanabhan        M Erasmus
567        34           AK Chaudhary        CK Nandan
568        27         A Nand Kishore     BNJ Oxenford
569        25        HDPK Dharmasena      Nitin Menon
570        34           AK Chaudhary        CK Nandan
571         3  KN Ananthapadmanabhan        M Erasmus
572        27         A Nand Kishore     BNJ Oxenford
573         7           AK Chaudhary  HDPK Dharmasena
574         2              M Erasmus    C Shamshuddin
575         2              M Erasmus        CK Nandan
576         7        HDPK Dharmasena     BNJ Oxenford

[577 rows x 18 columns]>

In [8]:
# Display top 5 rows
ipl.head(10)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18/04/08,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19/04/08,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19/04/08,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar
3,2008_4,2008,Mumbai,20/04/08,MI,RCB,MI,bat,normal,0,RCB,0,5,Mark Boucher,"Wankhede Stadium, Mumbai, Maharashtra",1,SJ Davis,DJ Harper
4,2008_5,2008,Kolkata,20/04/08,DC,KKR,DC,bat,normal,0,KKR,0,5,David Hussey,"Eden Garden Stadium, Kolkata, West Bengal",3,BF Bowden,K Hariharan
5,2008_6,2008,Jaipur,21/04/08,KXI,RR,KXI,bat,normal,0,RR,0,6,Shane Watson,"Sawai Man Singh Stadium, Jaipur, Rajasthan",6,Aleem Dar,RB Tiffin
6,2008_7,2008,Hyderabad,22/04/08,DC,DD,DC,bat,normal,0,DD,0,9,Virender Sehwag,"Rajiv Gandhi International Stadium, Hyderabad",4,IL Howell,AM Saheba
7,2008_8,2008,Chennai,23/04/08,CSK,MI,MI,field,normal,0,CSK,6,0,Matthew Hayden,"M.A.Chidambaram Stadium Chennai, Tamil Nadu",5,DJ Harper,GA Pratapkumar
8,2008_9,2008,Hyderabad,24/04/08,DC,RR,RR,field,normal,0,RR,0,3,Yusuf Pathan,"Rajiv Gandhi International Stadium, Hyderabad",4,Asad Rauf,MR Benson
9,2008_10,2008,Chandigarh,25/04/08,KXI,MI,MI,field,normal,0,KXI,66,0,Kumar Sangakkara,I.S. Bindra Punjab Cricket Association Stadium...,9,Aleem Dar,AM Saheba

In [10]:
# Display last 5 rows
ipl.tail()

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,venue_id,umpire1,umpire2
572,2016_56,2016,Raipur,22/05/16,DD,RCB,RCB,field,normal,0,RCB,0,6,Virat Kohli,Shaheed Veer Narayan Singh International Stadium,27,A Nand Kishore,BNJ Oxenford
573,2016_57,2016,Bangalore,24/05/16,GL,RCB,RCB,field,normal,0,RCB,0,4,AB De Villiers,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,HDPK Dharmasena
574,2016_58,2016,Delhi,25/05/16,SRH,KKR,KKR,field,normal,0,SRH,22,0,Moises Henriques,"Feroz Shah Kotla Stadium, Delhi",2,M Erasmus,C Shamshuddin
575,2016_59,2016,Delhi,27/05/16,GL,SRH,SRH,field,normal,0,SRH,0,4,David Warner,"Feroz Shah Kotla Stadium, Delhi",2,M Erasmus,CK Nandan
576,2016_60,2016,Bangalore,29/05/16,SRH,RCB,SRH,bat,normal,0,SRH,8,0,Ben Cutting,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,HDPK Dharmasena,BNJ Oxenford

## **Appending DataFrame**

In [10]:
# Creating a copy of dataframe
ipl_final = ipl.copy()             # Explicitly creating a copy of ipl. Just to make sure you don't modify your original dataframe

# Appending one dataframe with another
ipl_final = ipl_final.append(ipl_new)
print(ipl_final.shape)

(636, 18)

## **Data Inspection**

In [11]:
## .shape gives dimentions of Data
print(ipl_final.shape)

(636, 18)

In [12]:
## Getting top 3 rows
ipl_final.head(3)

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,venue_id,umpire1,umpire2
0,2008_1,2008,Bangalore,18/04/08,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
1,2008_2,2008,Chandigarh,19/04/08,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2,2008_3,2008,Delhi,19/04/08,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar

In [13]:
## .columns gives column names
print(ipl_final.columns)

Index(['match_id', 'season', 'city', 'date', 'team1_id', 'team2_id',
       'toss_winner', 'toss_decision', 'result', 'dl_applied', 'winner',
       'win_by_runs', 'win_by_wickets', 'player_of_match', 'venue', 'venue_id',
       'umpire1', 'umpire2'],
      dtype='object')

In [14]:
# Display only column values
print(ipl_final.columns.values)

['match_id' 'season' 'city' 'date' 'team1_id' 'team2_id' 'toss_winner'
 'toss_decision' 'result' 'dl_applied' 'winner' 'win_by_runs'
 'win_by_wickets' 'player_of_match' 'venue' 'venue_id' 'umpire1' 'umpire2']

In [15]:
## .dtypes gives data types for each column
print(ipl_final.dtypes)

match_id           object
season              int64
city               object
date               object
team1_id           object
team2_id           object
toss_winner        object
toss_decision      object
result             object
dl_applied          int64
winner             object
win_by_runs         int64
win_by_wickets      int64
player_of_match    object
venue              object
venue_id            int64
umpire1            object
umpire2            object
dtype: object

In [16]:
# Display NULL values
ipl_final.isnull().sum()

match_id           0
season             0
city               7
date               0
team1_id           0
team2_id           0
toss_winner        0
toss_decision      0
result             0
dl_applied         0
winner             3
win_by_runs        0
win_by_wickets     0
player_of_match    3
venue              0
venue_id           0
umpire1            1
umpire2            1
dtype: int64

In [17]:
# Display Dataframe information
ipl_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 636 entries, 0 to 58
Data columns (total 18 columns):
match_id           636 non-null object
season             636 non-null int64
city               629 non-null object
date               636 non-null object
team1_id           636 non-null object
team2_id           636 non-null object
toss_winner        636 non-null object
toss_decision      636 non-null object
result             636 non-null object
dl_applied         636 non-null int64
winner             633 non-null object
win_by_runs        636 non-null int64
win_by_wickets     636 non-null int64
player_of_match    633 non-null object
venue              636 non-null object
venue_id           636 non-null int64
umpire1            635 non-null object
umpire2            635 non-null object
dtypes: int64(5), object(13)
memory usage: 94.4+ KB

<br><br>
## **Setting match_id column as row index** (rarely used)

In [18]:
ipl_final.set_index(['match_id'],inplace=True)

In [19]:
ipl_final

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,venue_id,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,,
2008_1,2008,Bangalore,18/04/08,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,Asad Rauf,RE Koertzen
2008_2,2008,Chandigarh,19/04/08,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,I.S. Bindra Punjab Cricket Association Stadium...,9,MR Benson,SL Shastri
2008_3,2008,Delhi,19/04/08,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,GA Pratapkumar
2008_4,2008,Mumbai,20/04/08,MI,RCB,MI,bat,normal,0,RCB,0,5,Mark Boucher,"Wankhede Stadium, Mumbai, Maharashtra",1,SJ Davis,DJ Harper
2008_5,2008,Kolkata,20/04/08,DC,KKR,DC,bat,normal,0,KKR,0,5,David Hussey,"Eden Garden Stadium, Kolkata, West Bengal",3,BF Bowden,K Hariharan
2008_6,2008,Jaipur,21/04/08,KXI,RR,KXI,bat,normal,0,RR,0,6,Shane Watson,"Sawai Man Singh Stadium, Jaipur, Rajasthan",6,Aleem Dar,RB Tiffin
2008_7,2008,Hyderabad,22/04/08,DC,DD,DC,bat,normal,0,DD,0,9,Virender Sehwag,"Rajiv Gandhi International Stadium, Hyderabad",4,IL Howell,AM Saheba
2008_8,2008,Chennai,23/04/08,CSK,MI,MI,field,normal,0,CSK,6,0,Matthew Hayden,"M.A.Chidambaram Stadium Chennai, Tamil Nadu",5,DJ Harper,GA Pratapkumar
2008_9,2008,Hyderabad,24/04/08,DC,RR,RR,field,normal,0,RR,0,3,Yusuf Pathan,"Rajiv Gandhi International Stadium, Hyderabad",4,Asad Rauf,MR Benson
2008_10,2008,Chandigarh,25/04/08,KXI,MI,MI,field,normal,0,KXI,66,0,Kumar Sangakkara,I.S. Bindra Punjab Cricket Association Stadium...,9,Aleem Dar,AM Saheba
2008_11,2008,Bangalore,26/04/08,RCB,RR,RR,field,normal,0,RR,0,7,Shane Watson,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,MR Benson,IL Howell
2008_12,2008,Chennai,26/04/08,KKR,CSK,KKR,bat,normal,0,CSK,0,9,Jacob Oram,"M.A.Chidambaram Stadium Chennai, Tamil Nadu",5,BF Bowden,AV Jayaprakash
2008_13,2008,Mumbai,27/04/08,MI,DC,DC,field,normal,0,DC,0,10,Adam Gilchrist,Dr DY Patil Sports Academy,10,Asad Rauf,SL Shastri
2008_14,2008,Chandigarh,27/04/08,DD,KXI,DD,bat,normal,0,KXI,0,4,Simon Katich,I.S. Bindra Punjab Cricket Association Stadium...,9,RE Koertzen,I Shivram
2008_15,2008,Bangalore,28/04/08,CSK,RCB,CSK,bat,normal,0,CSK,13,0,Mahendra Singh Dhoni,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,BR Doctrove,RB Tiffin
2008_16,2008,Kolkata,29/04/08,KKR,MI,KKR,bat,normal,0,MI,0,7,Sanath Jayasuriya,"Eden Garden Stadium, Kolkata, West Bengal",3,BF Bowden,AV Jayaprakash
2008_17,2008,Delhi,30/04/08,DD,RCB,RCB,field,normal,0,DD,10,0,Glenn McGrath,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,I Shivram
2008_18,2008,Hyderabad,01/05/08,DC,KXI,KXI,field,normal,0,KXI,0,7,Shaun Marsh,"Rajiv Gandhi International Stadium, Hyderabad",4,BR Doctrove,RB Tiffin
2008_19,2008,Jaipur,01/05/08,RR,KKR,RR,bat,normal,0,RR,45,0,Swapnil Asnodkar,"Sawai Man Singh Stadium, Jaipur, Rajasthan",6,RE Koertzen,GA Pratapkumar
2008_20,2008,Chennai,02/05/08,CSK,DD,CSK,bat,normal,0,DD,0,8,Virender Sehwag,"M.A.Chidambaram Stadium Chennai, Tamil Nadu",5,BF Bowden,K Hariharan
2008_21,2008,Hyderabad,25/05/08,DC,RCB,DC,bat,normal,0,RCB,0,5,Vinay Kumar,"Rajiv Gandhi International Stadium, Hyderabad",4,Asad Rauf,RE Koertzen
2008_22,2008,Chandigarh,03/05/08,KXI,KKR,KXI,bat,normal,0,KXI,9,0,Irfan Pathan,I.S. Bindra Punjab Cricket Association Stadium...,9,DJ Harper,I Shivram
2008_23,2008,Mumbai,04/05/08,MI,DD,DD,field,normal,0,MI,29,0,Shaun Pollock,Dr DY Patil Sports Academy,10,IL Howell,RE Koertzen
2008_24,2008,Jaipur,04/05/08,CSK,RR,CSK,bat,normal,0,RR,0,8,Sohail Tanvir,"Sawai Man Singh Stadium, Jaipur, Rajasthan",6,Asad Rauf,AV Jayaprakash
2008_25,2008,Bangalore,05/05/08,RCB,KXI,KXI,field,normal,0,KXI,0,6,S Sreesanth,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,SJ Davis,BR Doctrove
2008_26,2008,Chennai,06/05/08,CSK,DC,DC,field,normal,0,DC,0,7,Adam Gilchrist,"M.A.Chidambaram Stadium Chennai, Tamil Nadu",5,MR Benson,RB Tiffin
2008_27,2008,Mumbai,07/05/08,RR,MI,MI,field,normal,0,MI,0,7,Ashish Nehra,Dr DY Patil Sports Academy,10,DJ Harper,RE Koertzen
2008_28,2008,Delhi,08/05/08,DD,CSK,CSK,field,normal,0,CSK,0,4,Mahendra Singh Dhoni,"Feroz Shah Kotla Stadium, Delhi",2,Aleem Dar,RB Tiffin
2008_29,2008,Kolkata,08/05/08,KKR,RCB,KKR,bat,normal,0,KKR,5,0,Sourav Ganguly,"Eden Garden Stadium, Kolkata, West Bengal",3,Asad Rauf,IL Howell
2008_30,2008,Jaipur,09/05/08,DC,RR,RR,field,normal,0,RR,0,8,Yusuf Pathan,"Sawai Man Singh Stadium, Jaipur, Rajasthan",6,MR Benson,AM Saheba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2017_30,2017,Bangalore,27/04/17,RCB,GL,GL,field,normal,0,GL,0,7,Andrew Tye,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,C Shamshuddin
2017_31,2017,Kolkata,28/04/17,DD,KKR,KKR,field,normal,0,KKR,0,7,Gautam Gambhir,"Eden Garden Stadium, Kolkata, West Bengal",3,NJ Llong,S Ravi
2017_32,2017,Chandigarh,28/04/17,SRH,KXI,KXI,field,normal,0,SRH,26,0,Rashid Khan,I.S. Bindra Punjab Cricket Association Stadium...,9,Nitin Menon,CK Nandan
2017_33,2017,Pune,29/04/17,RPS,RCB,RCB,field,normal,0,RPS,61,0,Lockie Ferguson,Maharashtra Cricket Association Stadium,32,KN Ananthapadmanabhan,M Erasmus
2017_34,2017,Rajkot,29/04/17,GL,MI,GL,bat,tie,0,MI,0,0,Krunal Pandya,Saurashtra Cricket Association Stadium,33,AK Chaudhary,CB Gaffaney
2017_35,2017,Chandigarh,30/04/17,DD,KXI,KXI,field,normal,0,KXI,0,10,Sandeep Sharma,I.S. Bindra Punjab Cricket Association Stadium...,9,YC Barde,CK Nandan
2017_36,2017,Hyderabad,30/04/17,SRH,KKR,KKR,field,normal,0,SRH,48,0,David Warner,"Rajiv Gandhi International Stadium, Hyderabad",4,AY Dandekar,S Ravi
2017_37,2017,Mumbai,01/05/17,RCB,MI,RCB,bat,normal,0,MI,0,5,Rohit Sharma,"Wankhede Stadium, Mumbai, Maharashtra",1,AK Chaudhary,CB Gaffaney
2017_38,2017,Pune,01/05/17,GL,RPS,RPS,field,normal,0,RPS,0,5,Ben Stokes,Maharashtra Cricket Association Stadium,32,M Erasmus,C Shamshuddin
2017_39,2017,Delhi,02/05/17,SRH,DD,DD,field,normal,0,DD,0,6,Mohammed Shami,"Feroz Shah Kotla Stadium, Delhi",2,YC Barde,Nitin Menon
2017_40,2017,Kolkata,03/05/17,KKR,RPS,RPS,field,normal,0,RPS,0,4,Rahul Tripathi,"Eden Garden Stadium, Kolkata, West Bengal",3,KN Ananthapadmanabhan,A Nand Kishore
2017_41,2017,Delhi,04/05/17,GL,DD,DD,field,normal,0,DD,0,7,Rishabh Pant,"Feroz Shah Kotla Stadium, Delhi",2,M Erasmus,Nitin Menon
2017_42,2017,Bangalore,05/05/17,KXI,RCB,RCB,field,normal,0,KXI,19,0,Sandeep Sharma,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,CB Gaffaney,C Shamshuddin
2017_43,2017,Hyderabad,06/05/17,RPS,SRH,SRH,field,normal,0,RPS,12,0,Jaydev Unadkat,"Rajiv Gandhi International Stadium, Hyderabad",4,KN Ananthapadmanabhan,AK Chaudhary
2017_44,2017,Delhi,06/05/17,MI,DD,DD,field,normal,0,MI,146,0,Lendl Simmons,"Feroz Shah Kotla Stadium, Delhi",2,Nitin Menon,CK Nandan
2017_45,2017,Bangalore,07/05/17,RCB,KKR,KKR,field,normal,0,KKR,0,6,Sunil Narine,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AY Dandekar,C Shamshuddin
2017_46,2017,Chandigarh,07/05/17,KXI,GL,GL,field,normal,0,GL,0,6,Dwayne Smith,I.S. Bindra Punjab Cricket Association Stadium...,9,A Nand Kishore,VK Sharma
2017_47,2017,Hyderabad,08/05/17,MI,SRH,MI,bat,normal,0,SRH,0,7,Shikhar Dhawan,"Rajiv Gandhi International Stadium, Hyderabad",4,KN Ananthapadmanabhan,M Erasmus
2017_48,2017,Chandigarh,09/05/17,KXI,KKR,KKR,field,normal,0,KXI,14,0,Mohit Sharma,I.S. Bindra Punjab Cricket Association Stadium...,9,A Nand Kishore,S Ravi
2017_49,2017,Kanpur,10/05/17,GL,DD,DD,field,normal,0,DD,0,2,Shreyas Iyer,Green Park,34,YC Barde,AK Chaudhary
2017_50,2017,Mumbai,11/05/17,KXI,MI,MI,field,normal,0,KXI,7,0,Wriddhiman Saha,"Wankhede Stadium, Mumbai, Maharashtra",1,A Deshmukh,A Nand Kishore
2017_51,2017,Delhi,12/05/17,DD,RPS,DD,bat,normal,0,DD,7,0,Karun Nair,"Feroz Shah Kotla Stadium, Delhi",2,KN Ananthapadmanabhan,CK Nandan
2017_52,2017,Kanpur,13/05/17,GL,SRH,SRH,field,normal,0,SRH,0,8,Mohammed Siraj,Green Park,34,AK Chaudhary,Nitin Menon
2017_53,2017,Kolkata,13/05/17,MI,KKR,KKR,field,normal,0,MI,9,0,Ambati Rayudu,"Eden Garden Stadium, Kolkata, West Bengal",3,A Nand Kishore,S Ravi
2017_54,2017,Pune,14/05/17,KXI,RPS,RPS,field,normal,0,RPS,0,9,Jaydev Unadkat,Maharashtra Cricket Association Stadium,32,AY Dandekar,A Deshmukh
2017_55,2017,Delhi,14/05/17,RCB,DD,RCB,bat,normal,0,RCB,10,0,Harshal Patel,"Feroz Shah Kotla Stadium, Delhi",2,CK Nandan,C Shamshuddin
2017_56,2017,Mumbai,16/05/17,RPS,MI,MI,field,normal,0,RPS,20,0,Washington Sunder,"Wankhede Stadium, Mumbai, Maharashtra",1,S Ravi,C Shamshuddin
2017_57,2017,Bangalore,17/05/17,SRH,KKR,KKR,field,normal,1,KKR,0,7,Nathan Coulter-Nile,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,AK Chaudhary,Nitin Menon
2017_58,2017,Bangalore,19/05/17,KKR,MI,MI,field,normal,0,MI,0,6,Karn Sharma,"M.Chinnaswamy Stadium Bengaluru, Karnataka",7,NJ Llong,Nitin Menon
2017_59,2017,Hyderabad,21/05/17,MI,RPS,MI,bat,normal,0,MI,1,0,Krunal Pandya,"Rajiv Gandhi International Stadium, Hyderabad",4,NJ Llong,S Ravi

## **Summary statistics**

In [22]:
ipl.describe(include = 'all')

,match_id,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,venue_id,umpire1,umpire2
count,577,577.000000,570,577,577,577,577,577,577,577.000000,574,577.000000,577.000000,574,577,577.000000,577,577
unique,577,NaN,30,407,13,13,13,2,3,NaN,13,NaN,NaN,187,34,NaN,42,44
top,2010_36,NaN,Mumbai,22/04/12,CSK,RCB,MI,field,normal,NaN,MI,NaN,NaN,Chris Gayle,"M.Chinnaswamy Stadium Bengaluru, Karnataka",NaN,HDPK Dharmasena,SJA Taufel
freq,1,NaN,77,2,77,77,74,315,568,NaN,80,NaN,NaN,17,58,NaN,73,54
mean,NaN,2012.029463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025997,NaN,13.715771,3.363951,NaN,NaN,10.097054,NaN,NaN
std,NaN,2.486247,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.159263,NaN,23.619282,3.416049,NaN,NaN,9.048535,NaN,NaN
min,NaN,2008.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,1.000000,NaN,NaN
25%,NaN,2010.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,0.000000,NaN,NaN,3.000000,NaN,NaN
50%,NaN,2012.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,3.000000,NaN,NaN,7.000000,NaN,NaN
75%,NaN,2014.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,20.000000,6.000000,NaN,NaN,14.000000,NaN,NaN
max,NaN,2016.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,144.000000,10.000000,NaN,NaN,34.000000,NaN,NaN

## **Dropping columns**

In [21]:
# Dropping venue_id column
ipl_final.drop(['venue_id'], axis=1, inplace=True)    # Axis = 1 for columns

# Display top 3 rows
ipl_final.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,
2008_1,2008,Bangalore,18/04/08,KKR,RCB,RCB,field,normal,0,KKR,140,0,Brendon McCullum,"M.Chinnaswamy Stadium Bengaluru, Karnataka",Asad Rauf,RE Koertzen
2008_2,2008,Chandigarh,19/04/08,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,I.S. Bindra Punjab Cricket Association Stadium...,MR Benson,SL Shastri
2008_3,2008,Delhi,19/04/08,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,"Feroz Shah Kotla Stadium, Delhi",Aleem Dar,GA Pratapkumar

## **Dropping rows**

In [22]:
# Dropping rows with index values = [2008_1','2009_1','2010_1']
ipl_final.drop(['2008_1','2009_1','2010_1'], axis=0, inplace=True)  
# Axis = 0 for rows

# Display top 3 rows
ipl_final.head(3)

,season,city,date,team1_id,team2_id,toss_winner,toss_decision,result,dl_applied,winner,win_by_runs,win_by_wickets,player_of_match,venue,umpire1,umpire2
match_id,,,,,,,,,,,,,,,,
2008_2,2008,Chandigarh,19/04/08,CSK,KXI,CSK,bat,normal,0,CSK,33,0,Michael Hussey,I.S. Bindra Punjab Cricket Association Stadium...,MR Benson,SL Shastri
2008_3,2008,Delhi,19/04/08,RR,DD,RR,bat,normal,0,DD,0,9,Farveez Maharoof,"Feroz Shah Kotla Stadium, Delhi",Aleem Dar,GA Pratapkumar
2008_4,2008,Mumbai,20/04/08,MI,RCB,MI,bat,normal,0,RCB,0,5,Mark Boucher,"Wankhede Stadium, Mumbai, Maharashtra",SJ Davis,DJ Harper

## **Frequency distribution**

In [23]:
# Count of winner values
ipl_final['winner'].value_counts()

MI     91
CSK    79
KKR    75
RCB    73
KXI    70
RR     63
DD     62
SRH    42
DC     29
RPS    15
GL     13
PW     12
KTK     6
Name: winner, dtype: int64

---
---
## **PRACTICE**

The data structure in Pandas we use are
    - 1. Series      -> 1 Dimensional
    - 2. DataFrame   -> 2 Dimensional

## Object Creation
Creating a `Series` by passing a list of values, letting pandas create a default integer index:

In [24]:
s = pd.Series([1.0,2.0,3.0,5.0,np.nan,6,8]) # np.nan is similar to NA in R
s

0    1.0
1    2.0
2    3.0
3    5.0
4    NaN
5    6.0
6    8.0
dtype: float64

### We can also specify the column name while creating a dataframe

In [25]:
data = np.random.randn(20,2)

In [26]:
data.shape

(20, 2)

In [27]:
data

array([[ 0.78283527,  2.47781225],
       [ 0.65243208, -0.77467714],
       [-0.31372625, -2.30281083],
       [-0.65506413, -1.22355796],
       [-1.18439592, -0.10336013],
       [ 0.07746019, -0.53176603],
       [ 0.18786837,  1.15164678],
       [ 0.41202979, -0.47658841],
       [ 1.75564438, -0.62912694],
       [ 0.53340321,  0.23635701],
       [-1.32531444,  0.14179371],
       [-1.12022144, -0.56566827],
       [-0.37243294, -1.16582114],
       [-0.65506353, -0.87519903],
       [ 1.21507861,  0.0399742 ],
       [ 1.1110162 , -1.41172306],
       [-1.2890276 , -1.31555987],
       [-0.30813534, -0.60163915],
       [-0.99286   ,  1.03006354],
       [ 0.46704737, -1.31727184]])

In [28]:
type(data)

numpy.ndarray

In [29]:
df = pd.DataFrame(data, index=range(20),columns=['A','B'])

In [30]:
df

           A         B
0   0.782835  2.477812
1   0.652432 -0.774677
2  -0.313726 -2.302811
3  -0.655064 -1.223558
4  -1.184396 -0.103360
5   0.077460 -0.531766
6   0.187868  1.151647
7   0.412030 -0.476588
8   1.755644 -0.629127
9   0.533403  0.236357
10 -1.325314  0.141794
11 -1.120221 -0.565668
12 -0.372433 -1.165821
13 -0.655064 -0.875199
14  1.215079  0.039974
15  1.111016 -1.411723
16 -1.289028 -1.315560
17 -0.308135 -0.601639
18 -0.992860  1.030064
19  0.467047 -1.317272

In [31]:
df.dtypes

A    float64
B    float64
dtype: object

### Transposing your data

In [32]:
df.T

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
A,0.782835,0.652432,-0.313726,-0.655064,-1.184396,0.077460,0.187868,0.412030,1.755644,0.533403,-1.325314,-1.120221,-0.372433,-0.655064,1.215079,1.111016,-1.289028,-0.308135,-0.992860,0.467047
B,2.477812,-0.774677,-2.302811,-1.223558,-0.103360,-0.531766,1.151647,-0.476588,-0.629127,0.236357,0.141794,-0.565668,-1.165821,-0.875199,0.039974,-1.411723,-1.315560,-0.601639,1.030064,-1.317272

## Sorting

### On an axis

In [33]:
df

           A         B
0   0.782835  2.477812
1   0.652432 -0.774677
2  -0.313726 -2.302811
3  -0.655064 -1.223558
4  -1.184396 -0.103360
5   0.077460 -0.531766
6   0.187868  1.151647
7   0.412030 -0.476588
8   1.755644 -0.629127
9   0.533403  0.236357
10 -1.325314  0.141794
11 -1.120221 -0.565668
12 -0.372433 -1.165821
13 -0.655064 -0.875199
14  1.215079  0.039974
15  1.111016 -1.411723
16 -1.289028 -1.315560
17 -0.308135 -0.601639
18 -0.992860  1.030064
19  0.467047 -1.317272

In [34]:
df.sort_values(by='B',axis=0)

           A         B
2  -0.313726 -2.302811
15  1.111016 -1.411723
19  0.467047 -1.317272
16 -1.289028 -1.315560
3  -0.655064 -1.223558
12 -0.372433 -1.165821
13 -0.655064 -0.875199
1   0.652432 -0.774677
8   1.755644 -0.629127
17 -0.308135 -0.601639
11 -1.120221 -0.565668
5   0.077460 -0.531766
7   0.412030 -0.476588
4  -1.184396 -0.103360
14  1.215079  0.039974
10 -1.325314  0.141794
9   0.533403  0.236357
18 -0.992860  1.030064
6   0.187868  1.151647
0   0.782835  2.477812

In [35]:
df.sort_values(by=['A'], ascending=False)

           A         B
8   1.755644 -0.629127
14  1.215079  0.039974
15  1.111016 -1.411723
0   0.782835  2.477812
1   0.652432 -0.774677
9   0.533403  0.236357
19  0.467047 -1.317272
7   0.412030 -0.476588
6   0.187868  1.151647
5   0.077460 -0.531766
17 -0.308135 -0.601639
2  -0.313726 -2.302811
12 -0.372433 -1.165821
13 -0.655064 -0.875199
3  -0.655064 -1.223558
18 -0.992860  1.030064
11 -1.120221 -0.565668
4  -1.184396 -0.103360
16 -1.289028 -1.315560
10 -1.325314  0.141794

## Selection (also called indexing)

### Selection by Position

.iloc is primarily integer position based (from 0 to length of the axis -1 ), but may also be used with a boolean array.

.iloc will raise IndexError if a requested indexer is out-of-bounds, except slice indexers which allow out-of-bounds indexing.

In [36]:
df.iloc[3:5,0:2]

          A         B
3 -0.655064 -1.223558
4 -1.184396 -0.103360

### Selection by Label

- .loc is primarily label based, but may also be used with a boolean array. .loc will raise KeyError when the items are not found.

- label slicing, both endpoints are included

In [37]:
df.loc[range(3),['A','B']]

          A         B
0  0.782835  2.477812
1  0.652432 -0.774677
2 -0.313726 -2.302811

# Operations on dataset

---
# Joins

In [38]:
data1 = pd.read_csv("Customer_sample_1.csv")
data2 = pd.read_csv("Customer_sample_2.csv")

In [39]:
data1

   ID  CCAvg  Mortgage  Personal Loan
0   1    0.0         0              0
1   2    0.0         0              1
2   3    0.1         0              0
3   4    0.0        76              0
4   5    0.2        78              1
5   6    0.0        85              0
6   7    1.0        90              0
7   8    1.5        96              1
8   9    2.0       102              0
9  10    0.5       103              1

In [40]:
data2

   Customer ID  Experience  Income  ZIP Code
0            6           1      49     91107
1            7          19      34     90089
2            8          15      11     94720
3            9           9     100     94112
4           10           8      45     91330
5           11          13      29     92121
6           12          27      72     91711
7           13          24      22     93943
8           14          10      81     90089
9           15           9     180     93023

# Method-1 ------------------------------------------------------------------------------------------------------------
MERGED_DF = DATAFRAME1.merge(DATAFRAME2, on='COMMON_COLUMN_NAME')

# Method-2 ------------------------------------------------------------------------------------------------------------
MERGED_DF = pd.merge(left=DATAFRAME1, right=DATAFRAME2, how='TYPE OF JOIN', 
                     left_on='DATAFRAME1_COLUMN', right_on='DATAFRAME2_COLUMN')

## Inner Join

In [41]:
data_ij = pd.merge(left=data1, right=data2, how='inner', 
                   left_on='ID', right_on='Customer ID')

In [42]:
data_ij

,ID,CCAvg,Mortgage,Personal Loan,Customer ID,Experience,Income,ZIP Code
0,6,0.0,85,0,6,1,49,91107
1,7,1.0,90,0,7,19,34,90089
2,8,1.5,96,1,8,15,11,94720
3,9,2.0,102,0,9,9,100,94112
4,10,0.5,103,1,10,8,45,91330

In [43]:
data_ij.shape

(5, 8)

## Left Join

In [44]:
data_lj = pd.merge(left=data1, right=data2, how='left', 
                   left_on='ID', right_on='Customer ID')

In [45]:
data_lj

,ID,CCAvg,Mortgage,Personal Loan,Customer ID,Experience,Income,ZIP Code
0,1,0.0,0,0,NaN,NaN,NaN,NaN
1,2,0.0,0,1,NaN,NaN,NaN,NaN
2,3,0.1,0,0,NaN,NaN,NaN,NaN
3,4,0.0,76,0,NaN,NaN,NaN,NaN
4,5,0.2,78,1,NaN,NaN,NaN,NaN
5,6,0.0,85,0,6.0,1.0,49.0,91107.0
6,7,1.0,90,0,7.0,19.0,34.0,90089.0
7,8,1.5,96,1,8.0,15.0,11.0,94720.0
8,9,2.0,102,0,9.0,9.0,100.0,94112.0
9,10,0.5,103,1,10.0,8.0,45.0,91330.0

## Right Join

In [46]:
data_rj = pd.merge(left=data1, right=data2, how='right', left_on='ID', right_on='Customer ID')

In [47]:
data_rj

,ID,CCAvg,Mortgage,Personal Loan,Customer ID,Experience,Income,ZIP Code
0,6.0,0.0,85.0,0.0,6,1,49,91107
1,7.0,1.0,90.0,0.0,7,19,34,90089
2,8.0,1.5,96.0,1.0,8,15,11,94720
3,9.0,2.0,102.0,0.0,9,9,100,94112
4,10.0,0.5,103.0,1.0,10,8,45,91330
5,NaN,NaN,NaN,NaN,11,13,29,92121
6,NaN,NaN,NaN,NaN,12,27,72,91711
7,NaN,NaN,NaN,NaN,13,24,22,93943
8,NaN,NaN,NaN,NaN,14,10,81,90089
9,NaN,NaN,NaN,NaN,15,9,180,93023

## Full Join / Full Outer Join

In [48]:
data_fj = pd.merge(left=data1, right=data2, how='outer', left_on='ID', right_on='Customer ID')

In [49]:
data_fj

,ID,CCAvg,Mortgage,Personal Loan,Customer ID,Experience,Income,ZIP Code
0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,2.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
2,3.0,0.1,0.0,0.0,NaN,NaN,NaN,NaN
3,4.0,0.0,76.0,0.0,NaN,NaN,NaN,NaN
4,5.0,0.2,78.0,1.0,NaN,NaN,NaN,NaN
5,6.0,0.0,85.0,0.0,6.0,1.0,49.0,91107.0
6,7.0,1.0,90.0,0.0,7.0,19.0,34.0,90089.0
7,8.0,1.5,96.0,1.0,8.0,15.0,11.0,94720.0
8,9.0,2.0,102.0,0.0,9.0,9.0,100.0,94112.0
9,10.0,0.5,103.0,1.0,10.0,8.0,45.0,91330.0
10,NaN,NaN,NaN,NaN,11.0,13.0,29.0,92121.0
11,NaN,NaN,NaN,NaN,12.0,27.0,72.0,91711.0
12,NaN,NaN,NaN,NaN,13.0,24.0,22.0,93943.0
13,NaN,NaN,NaN,NaN,14.0,10.0,81.0,90089.0
14,NaN,NaN,NaN,NaN,15.0,9.0,180.0,93023.0

## Performing Data TypeCasting

In [50]:
data_fj['ZIP Code'] = data_fj['ZIP Code'].astype('category')

In [51]:
data_fj.dtypes

ID                float64
CCAvg             float64
Mortgage          float64
Personal Loan     float64
Customer ID       float64
Experience        float64
Income            float64
ZIP Code         category
dtype: object

In [52]:
# convert the required variables into category in a single shot
cat_cols = ['ID', 'Personal Loan', 'Customer ID', 'ZIP Code']

for i in cat_cols:
    data_fj[i] = data_fj[i].astype('category')

In [53]:
data_fj.dtypes

ID               category
CCAvg             float64
Mortgage          float64
Personal Loan    category
Customer ID      category
Experience        float64
Income            float64
ZIP Code         category
dtype: object

---